.technologies-list { 
  border-radius: 10px; 
  padding: 20px; 
  margin-bottom: 20px; 
  margin-top: 0;
} 

.technologies-title{
    text-align: center;
}
.technologies-list h3 { 
  margin: 0 0 10px 0; 
  color: #333; 
} 
.technologies-list ul { 
  list-style: none; 
  padding: 0; 
  margin: 0; 
} 
.technologies-list li { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 15px; 
  margin: 10px 0; 
  border-radius: 5px; 
  transition: background-color 0.2s; 
} 
.technology-info p { 
  margin: 0; 
  color: #666; 
} 
.technologies-list li.completed { 
  background-color: #e8f5e9; 
  border-left: 4px solid #4caf50; 
} 
.technologies-list li.in-progress { 
  background-color: #fff3e0; 
  border-left: 4px solid #ff9800; 
} 
.technologies-list li.not-started { 
  background-color: #ffe9e0; 
  border-left: 4px solid #ff2600; 
}
.technologies-list li:hover { 
  opacity: 0.8; 
} 
.technologies-list span { 
  flex: 1; 
  color: #333; 
} 

.technology-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 120px; 
    justify-content: space-between;
}

.status-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #e0e0e0;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    padding: 0;
}

.btn-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


.status-btn:hover {
    border-color: #625858;
    background: #f0f7ff;
    transform: scale(1.05);
}

.status-btn:hover .btn-icon {
    filter: brightness(0.5) sepia(1) hue-rotate(10deg) saturate(0.3);
}

.technology-status {
    font-size: 24px;
    min-width: 40px;
    text-align: center;
}

.technology-tag {
    min-width: 100px;  
    max-width: 150px;  
    height: 32px;    
 
    background-color: #5e6258;
    color: white;
    border-radius: 16px;

    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

}

